body{
font-family:Arial;
background:#9eaecf;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.box{
background:#a5a3d3;
padding:30px;
width:350px;
border-radius:10px;
text-align:center;
}

input,select,button{
width:100%;
padding:10px;
margin-top:10px;
}

button{
background:#c4c4d1;
color:rgb(225, 234, 232);
border:none;
}

a{display:block;margin-top:10px;}
